doctype html
html(lang="ja")
 head(prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=#{viewport}, minimum-scale=#{320 / viewport}, maximum-scale=#{320 / viewport}, user-scalable=yes")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(rel="apple-touch-icon" href="webclipicon.png")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(property="og:title" content=title)
    meta(property="og:type" content="website")
    meta(property="og:url" content=url)
    meta(property="og:image" content=ogp_img)
    meta(property="og:site_name" content=title)
    meta(property="og:description" content=description)
    meta(property="fb:app_id" content="154917178224208")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=title)
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image:src" content=ogp_img)
    link(rel="shortcut icon" href="favicon.ico")
    link(href="css/style.css" rel="stylesheet")
    script(src="js/lib/modernizr.min.js")
    //
      ＿人人人人人人＿
      ＞　裏ワザ！　＜
       ￣Y^Y^Y^Y^Y￣

      ソースコードまでお読みいただき、ありがとうございます！
      ソースを書いてる田島です。
      今回はスロットにちょっとした裏ワザを仕込みました。
      以下のURLから、アクセスしてみてください。
      http://slot-maker.com/214/?yukkuri
      http://slot-maker.com/214/?hayaku
      ここだけの秘密です。

      ＿人人人人人人人＿
      ＞　制作STAFF　＜
       ￣Y^Y^Y^Y^Y^￣

      ■スロットワード　木下龍也 @kino112
      　好きなチョコは“Rummyラミー”

      ■デザイナー　村山辰徳 @muuuuuupon
      　好きなチョコは“チロルチョコのきなこもち”

      ■エンジニア　田島真悟 @gonshi_com
      　好きなチョコは“紗々”

      ■コピー企画　長谷川哲士 @aseetsu
      　好きなチョコは“ブラックサンダー”

      ＿人人人人人人＿
      ＞　制作秘話　＜
       ￣Y^Y^Y^Y^Y￣

      今回のスロットは、歌人の木下龍也さんの歌集『つむじ風、ここにあります』の販促プロモーションを目的に制作。
      木下さん自作のチョコ短歌は「犬はチョコ食べたら死ぬよチョコ色の犬にチョコって名付ける人よ」
      『つむじ風、ここにあります』には「右利きに矯正されたその右で母の遺骨を拾う日が来る」
      「リモコンで切ったがなんかあれなので主電源まで這いよって切る」などのスロットでは絶対につくれない短歌を収録。

      『つむじ風、ここにあります』ここで買えます
      ▶単行本 書肆侃侃房
      http://amzn.to/1PvuOC8
      ▶新鋭短歌シリーズ [Kindle版]
      http://amzn.to/20P9oVK

      コピースロットが3万ツイート以上されたのをいいことに、Facebookメッセンジャーで長谷川が、今度は縦型スロットでチョコの俳句つくるヤツつくろうと話をふり即OKの返事を村山、田島からもらう。
      最初はボックスを並行に縦に並べていたが、左から押すのか、右から押すのかわからないため、ナナメにレイアウト。
  body
    main.contents
      h1.contents__ttl 2月14日は俳人になろう。チョコ俳句スロット
      div.contents__slot
        div.contents__slot__inner(data-id="2")
          p.contents__slot__inner__txt
          p.contents__slot__inner__click
        div.contents__slot__inner(data-id="1")
          p.contents__slot__inner__txt
          p.contents__slot__inner__click
        div.contents__slot__inner(data-id="0")
          p.contents__slot__inner__txt
          p.contents__slot__inner__click
        div.contents__btn.clearfix
          p.contents__btn__facebook.facebook
          p.contents__btn__again もう１句
          p.contents__btn__twitter.twitter
      p.contents__ad
        a(href="http://amzn.to/1Pw1r2s" target="_blank") 俳句に飽きたら、短歌を味わおう。木下龍也『つむじ風、ここにあります』
    footer.footer
      div.footer__member
        p.footer__member__inner.footer__made
        p.footer__member__inner.footer__kino
          a(href="https://twitter.com/kino112" target="_blank")
        p.footer__member__inner.footer__assetsu
          a(href="https://twitter.com/aseetsu" target="_blank")
        p.footer__member__inner.footer__gonshi
          a(href="https://twitter.com/gonshi_com" target="_blank")
        p.footer__member__inner.footer__muuuuuupon
          a(href="https://twitter.com/muuuuuupon" target="_blank")
    script(src="js/lib/jquery-2.2.0.min.js")
    script(src="js/lib/jquery.ba-throttle-debounce.min.js")
    script(src="js/lib/easeljs-0.8.2.min.js")
    script(src="js/script.js")
    script
      include ga.js
